body{
    padding:0;
    margin:0;
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#85c4bc,#152837);
    overflow: hidden;
}
.c1{
    width:32.5vw;
    height: 95vh;
    border: 0;
    background-image: linear-gradient(#152837,#f9d7b1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.options{
    width:100%;
    height:10%;
    background-color: rgba(240,248,255,0.2);
    border-bottom: 5px solid #152837;
    cursor: pointer;
    padding-left: 10%;
    font-size: 200%;
    color:#152837;
    font-weight: 700;
}

.options:hover{
    background-color:rgba(240,248,255,0.6) ;
}

.options:active{
    transform: scale(1.1);
}

#repeat{
    background-color: transparent;
    height: 20%;
    width : 40%;
    align-self: center;
    border : 0;
    margin-top: 5%;
    border-radius: 10%;
}

#repeatimg{
    height: 100%;
    width:100%;
}

#repeat:hover{
    transform: scale(1.1);
}

#repeat:active{
    transform: skew(20deg);
}

#autoplaybtn{
    color:#152837;
    width:33%;
    align-self: center;
    margin-top:2%;
    font-size: 22px;
    background-color: transparent;
    font-weight: 600;
}

#autoplaybtn:hover{
    background-color:rgba(240,248,255,0.75) ;
}

#autoplaybtn:active{
    transform: scale(1.05);
}

.c2{
    border:0;
    border-radius: 30px;
    width: 32.5vw;
    height:95vh;
    background-color: #152837;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo{
    border:0;
    border-radius: 50%;
    height:60%;
    width:75%;
    align-self: center;
}

#slider-section{
    display: flex;
    justify-content: space-evenly;
}

#slider-section p{
    color: #f9d7b1;
}

#slider{
    align-self: center;
    appearance: none;
    height:2vh;
    width:70%;
    outline:0;
    background:#f9d7b1;
    border-radius: 12px;
}

#slider::-webkit-slider-thumb{
    appearance: none;
    height:2vh;
    width:2vh;
    border-radius: 50%;
    background: #85c4bc;
    cursor: pointer;
}

#slider::-webkit-slider-thumb:hover{
    transform: scale(1.5);
}

#slider::-webkit-slider-thumb:active{
    transform: scale(1.75);
    border:1.5px solid hotpink;
}

#button-container{
    display: flex;
    justify-content: space-around;
}
.c3{
    border:0;
    border-radius: 30px;
    width: 32.5vw;
    height: 95vh;
    background-image: linear-gradient(#152837,#f9d7b1);
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#volume-box{
    height:33%;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #f9d7b1;
}

#volume{
    align-self: center;
    appearance: none;
    height:2vh;
    width:70%;
    outline:0;
    background:#f9d7b1;
    border-radius: 12px;
}

#volume::-webkit-slider-thumb{
    appearance: none;
    height:2vh;
    width:2vh;
    border-radius: 50%;
    background: #85c4bc;
    cursor: pointer;
}

#volume::-webkit-slider-thumb:hover{
    transform: scale(1.5);
}

#volume::-webkit-slider-thumb:active{
    transform: scale(1.75);
    border: 1.5px solid hotpink;
}

#volume-indicator{
    color: #f9d7b1;
    font-size: 35px;
    font-weight: 900;
    margin: 2%;
}

#playing-box{
    height:33%;
    width:100%;
    border-bottom: 5px solid #152837;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playing{
    font-size: 35px;
    color:#f9d7b1;
    font-weight: 700;
    margin-bottom:2%;
}

#nameofsong{
    margin-top: 2%;
    font-size: 35px;
    color:#152837;
    font-weight: 700;
}

#otherdata-box{
    width:100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.otherdata{
    font-size: 35px;
    color:#152837;
    font-weight: 700;
    margin: 2.5%
}

.buttons{
    height: 20vh;
    border:0;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}
.buttons:hover{
    transform: scale(1.20);
}

.buttons:active{
    transform: rotate(45deg);
}

.png{
    height:100%;
    width:100%;
    background-color: transparent;
}
